*{
    margin: 0;
    padding: 0;
    font-family: 'DM+Sans', 'Inter', sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 14px;
    font-weight: 400;
}


h1{
    font-size: 60px;
    font-weight: medium;
}
h2{
    font-size: 32px;
    font-weight: 400;
}
h3{
    font-size: 18px;
    font-weight: medium;
}
h4{
    font-size: 18px;
    font-weight: 400;
}


.header-menu{
    padding-top: 40px;
    background: #ffffff;
    color: #fff;
    position: relative;
}
nav
{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}

nav .logo{
    width: 85x;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}

.text-container{
    padding-left: 8.2%;
    margin-top: 230px;
}

.text-container h2{
    color: #606060;
    display: inline-block;
    padding-left: 500px;
    margin-top: -75px;
}
#down-arrow{
    display: block;
    margin-top: 130px;
}

.work-showcase{
    margin-left: 8%;
    margin-top: 230px;
}
.showcase-box h4{
    margin-top: 30px;
}
.showcase-box p{
    margin-top: 40px;
    color: #606060;
    margin-bottom: 170px;
}
.showcase-box #project-img{
    float: right;
    margin-left: 150px;
    margin-right: 8%;
}
.showcase-box h3 .project-link{
    text-decoration: underline;
    color: #000
}
.divider{
    margin-top: 100px;
    border-radius: 5px;
    margin-left: 8%;
    margin-right: 8%;
}
.work-showcase2{
    margin-left: 8%;
    margin-top: 115px;
}
.work-showcase2 .showcase-box h4{
    margin-bottom: 230px;
}
.work-showcase3{
    margin-left: 8%;
    margin-top: 115px;
}
.work-showcase3 .showcase-box h4{
    margin-bottom: 250px;
}
.showcase-box h3 .wip-project-link{
    text-decoration: underline;
    color: #606060;
}
nav.footer{
    margin-top: 200px;
    margin-bottom: 50px;
}
